<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Vagas de Emprego</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="/register">Cadastro</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" href="/">Ver Vagas</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link btn btn-primary" href="/admin/companies/jobs/new">Abrir Vaga</a>
              </li>
                         
           
        </div>
      </nav>
</header>