<%- include('../../partials/header.ejs')%>
<%- include('../../partials/navbar.ejs')%>

<div id="add-form-container" class="container">
    <div class="row">
        <a  class="back-link main-color mb-3" href="/admin/companies/jobs">Voltar</a>
        <div class="col-md-12">
            <h1 class="text-center">Divulgue sua vaga</h1>
        </div>
        <div id="form-box" class=" col-md-12">
            <h2>Preencha os dados da melhor forma possível para encontrar seus candidatos</h2>
            <form action="/admin/companies/jobs/save" method="POST">
                <div class="form-group">
                    <label for="title">Título da vaga:</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Digite o título da vaga" required>
                   
                    <label for="description">Descrição da vaga:</label>
                    <textarea name="description" class="form-control" id="description" cols="30" rows="10" placeholder="Descreva as atribuições do cargo" required></textarea>

                    <label for="companyjob">Nome da empresa:</label>
                    <input type="text" class="form-control" name="companyjob" id="companyjob" placeholder="Digite o nome da empresa" required>

                    <label for="title">E-mail para contato:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Digite o email para contato" required>

                    <label for="salary">Salário oferecido:</label>
                    <input type="text" class="form-control" name="salary" id="salary" placeholder="Digite o salário da vaga" required>
                   
                </div>
                <input type="hidden" name="flagnewjob" value="1">
              
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs')%>
